.my_box{
  background-color: #292929;
  width: 100px;
  height: 100px;
  border-radius: 5%;
  position: absolute;
  
}


.road-orizontal{
  background-color: #292929;
  width: 100%;
  height: 30px;
  position: relative;
  margin-top:20%;
  
}


.road-vertical{
  background-color: #292929;
  width: 30px;
  height: 100%;
  position: relative;

  margin-left: 50%;

}

.padding-10px{
  padding: 10px;
}

.road-round{
  background-color: #292929;
  width: 100px;
  height: 100px;
  margin-left: 30%;
  border-radius: 50%;
  position: relative;
}

.road-round2{
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  
  margin-left: 15%;
  margin-top: 15%;

  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.grid-layout{
  display: grid;
  grid-template-columns: 1fr 5fr;
 grid-template-rows: 1fr;
 grid-column-gap: 0px;
 grid-row-gap: 0px;
z-index: 0;
position: absolute;
}

.control-center{
  grid-column: 0;
  color: blueviolet;
}

.map{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

.tbd{
  background-color: #0f620f;
  width: 100%;
  height: 100%;
  border-radius: 0;
  
}

.CLADIRE{
  background-color: #ab97c4;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.INTERSECTIE{
  background-color: #ff00cc;
  
}
.PARCARE{
  background-color: #1e00ff;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.INTERSECTIE-3 {
  background-color: #00d9ff;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.CLADIREE{
  background-color: #766141;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}