
.my_box{
  background-image: url(./img/devhacks.png);
  background-size: contain ;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-90deg);
  width: 100px;
  height: 100px;
  border-radius: 5%;
  position: absolute;
  z-index: 20;
  
}


.road-orizontal{
  background-color: #292929;
  width: 100%;
  height: 30px;
  position: relative;
  margin-top:20%;
  
}


.road-vertical{
  background-color: #292929;
  width: 30px;
  height: 100%;
  position: relative;

  margin-left: 50%;

}

.padding-10px{
  padding: 10px;
}

.road-round{
  background-color: #292929;
  width: 100px;
  height: 100px;
  margin-left: 30%;
  border-radius: 50%;
  position: relative;
  z-index: 11;
}

.road-round2{
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  
  margin-left: 15%;
  margin-top: 15%;

  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.grid-layout{
  display: grid;
  grid-template-columns: 1fr 5fr;
 grid-template-rows: 1fr;
 grid-column-gap: 0px;
 grid-row-gap: 0px;
z-index: 0;
position: absolute;
}

.control-center{
  grid-column: 0;
  color: blueviolet;
}

.map{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url('./img/iarba_3.jpg');
    ;
    
}

.tbd{
  background-color: #0f620f;
  
  opacity: 0.0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  
}

.CLADIRE{
  background-color: #fcedff;
  background-image: url('./img/harman.png');
  background-size: contain ;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.INTERSECTIE{
  background-color: #ff00cc;
  
}
.PARCARE{
  background-color: #1e00ff;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.INTERSECTIE-3 {
  background-color: #00d9ff;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.CLADIREE{
  background-color: #c6e9fd;
  background-image: url('./img/home.png');
  background-size: contain ;
  background-repeat: no-repeat;
  background-position: center;
  
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

#s2-2{
  grid-column: 2;
  grid-row: 2;
  
  width: 150%;
  height: 30px;
  
  border-radius: 0%;
}

.btn-start{
  position: absolute;
  z-index: 10;
}

.GAS{
  background-color: #f2edd9;
  background-image: url('./img/gas_station.png');
}